@if(displayExplanations) {
  <app-explanation-modal></app-explanation-modal>
}

@if(screenService.isSmallScreen$ | async) {
  <div class="w-screen">
    <app-timeline-mariage-mobile (clicked)="getClicked()" class="ml-auto mr-auto"></app-timeline-mariage-mobile>
  </div>
} @else {
  <app-timeline-mariage (clicked)="getClicked()"></app-timeline-mariage>
}

@if (clicked) {
  <router-outlet></router-outlet>
  <div class="flex w-screen">
    <app-button class="ml-auto mr-10 mb-10" (click)="scrollIntoView('title')">
      <img
        class="rotate-180"
        ngSrc="assets/icons/fleche-vers-le-bas-pour-naviguer.png" priority
        [height]="screenService.isSmallScreen$ ? 25 : 50"
        [width]="screenService.isSmallScreen$ ? 25 : 50" alt="Flèche gauche"/>
    </app-button>
  </div>
}
