<div class="flex flex-col w-screen items-center mt-20" id="mariage-part">
  <app-title-wedding>Le dîner</app-title-wedding>
  <div class="flex flex-row items-center lg:mt-4 justify-evenly flex-wrap">
    <div class="flex flex-col items-center lg:mt-4">
      <a
        class="mt-6"
        href="https://www.google.fr/maps/search/Quartier+Sarson,+26230+Grignan"
        target="_blank">
        <p class="text-base text-center font-medium font-montserrat">Domaine de Sarson</p>
        <p class="text-sm text-center font-montserrat opacity-90">Quartier Sarson</p>
        <p class="text-sm text-center font-montserrat opacity-90">26230 Grignan</p>
      </a>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-1/5 mt-6 lg:mt-0">
      <img class="mb-6 mt-6" ngSrc="assets/icons/repas.png" height="120" width="120" alt="Icon repas"/>
      <p class="text-sm text-center font-montserrat leading-relaxed">
        À l'issue du cocktail, nous vous accueillerons au Domaine de Sarson pour un dîner.
      </p>
      <p class="text-sm text-center mt-2 font-montserrat opacity-80">
        (Pour les invités au dîner)
      </p>
    </div>
  </div>

  <div class="flex flex-col w-screen items-center mt-20 mb-14">
    <app-title-wedding>Hébergement</app-title-wedding>
    <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-6">
      <img class="mb-6 mt-6" ngSrc="assets/icons/verifier-le-courrier.png" height="100" width="100" alt="Icon mail"/>
      <p class="text-sm text-center font-montserrat leading-relaxed">
        Vous aurez la possibilité de dormir sur place.
      </p>
      <p class="text-sm text-center mt-2 font-montserrat leading-relaxed">
        À voir directement avec les futurs mariés :
      </p>
      <a href="mailto:laplusbelledumonde@jetemmerde.com" class="text-sm text-center mt-2 underline font-montserrat">
        laplusbelledumonde@jetemmerde.com
      </a>
    </div>
  </div>
</div>
