.reception {
  border-radius: 12px;
}

a p, .underline-gold {
  background-image: linear-gradient(to right, #dabb7f 0%, #b8954f 63%, #dabb7f 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 2px;
}
