<div class="">
  <div class="mx-auto max-w-2xl px-4 py-10 sm:px-6 sm:py-14 lg:max-w-6xl lg:px-8 flex flex-column">

    <app-title-wedding>Notre liste de mariage</app-title-wedding>

    @if (isLoading) {
      <app-loader text="Chargement de la liste" class="mt-12"></app-loader>
    }

    <app-category-gift
      [title]="'Voyage de Noces'"
      [category]="CategoryEnum.HoneyMoon"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      [title]="'Arts de la table'"
      [category]="CategoryEnum.TableArts"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Cuisine'"
      [category]="CategoryEnum.Kitchen"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Electroménager'"
      [category]="CategoryEnum.HomeAppliances"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Ameublement'"
      [category]="CategoryEnum.Furniture"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Décorations'"
      [category]="CategoryEnum.Decorations"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Linge de maison'"
      [category]="CategoryEnum.HouseholdLinens"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Digestifs'"
      [category]="CategoryEnum.Digestives"
      [products]="allProducts"
    ></app-category-gift>

    <app-category-gift
      class="mt-12"
      [title]="'Santons'"
      [category]="CategoryEnum.Santons"
      [products]="allProducts"
    ></app-category-gift>
  </div>
</div>

