<div class="sidenav flex flex-col" [ngClass]="{'open': isOpen}">
  <button type="button"
          (click)="onCloseNavClicked()"
          class="bg-primary-light rounded-md p-2 inline-flex items-center text-gold m-2 mr-auto">
    <span class="sr-only">Close menu</span>
    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>

  <nav class="w-full h-dvh mt-10">
    <ul (click)="onCloseNavClicked()" class="w-full flex-column flex items-center">
      <li><a routerLink="/accueil" routerLinkActive="active-link" class="font-montserrat">Accueil</a></li>
      <li><a routerLink="/staff-officiel" routerLinkActive="active-link" class="font-montserrat">Staff officiel</a></li>
      <li><a routerLink="/mariage" routerLinkActive="active-link" class="font-montserrat">Le mariage</a></li>
      <li><a routerLink="/photos" routerLinkActive="active-link" class="font-montserrat">Photos</a></li>
      <li><a routerLink="/liste-de-mariage" routerLinkActive="active">Liste de mariage</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" class="font-montserrat">Contact</a></li>
    </ul>
  </nav>

  <div (click)="onCloseNavClicked()" class="mt-auto mb-10 ml-auto mr-auto flex flex-col">
    @if (authService.isAdmin()) {
      <app-button routerUrl="/utilisateurs" class="w-full">Invités</app-button>
      <app-button routerUrl="/hebergements" class="w-full">Hébergements</app-button>
    }
    @if (authService.isAuthenticated()) {
      <app-button routerUrl="/profils" class="w-full">Profil</app-button>
      <app-button (click)="onLogoutClick()" class="w-full">Déconnexion</app-button>
    }
    @else {
      <app-button routerUrl="/login" class="w-full">Connexion</app-button>
    }
  </div>

</div>

<div class="space-y-2 m-4" (click)="onOpenNavClicked()">
  <div class="w-8 h-0.5 bg-gold"></div>
  <div class="w-8 h-0.5 bg-gold"></div>
  <div class="w-8 h-0.5 bg-gold"></div>
</div>
