.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #520418;
  overflow-x: hidden;
  transition: 0.4s ease;
}

.open {
  height: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  display: inline-block;
  margin-bottom: 1.5em;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #dabb7f;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, #dabb7f, #e8d4a8);
  transition: width 0.4s ease;
}

.active-link::after {
  width: 100% !important;
}
