.payment-card-selected {
  background-image: linear-gradient(to right, #1a3c34 0%, #2d5a3f 50%, #1a3c34 100%);
  border-color: #b8954f;
  color: #dabb7f;
}

.stepper-input {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  background:  linear-gradient(to right, #dabb7f 0%, #6f0523 100%);
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
}

.btn {
  cursor: pointer;
  padding: 0.75em;
  color: #fff;
  background: transparent;
  border: 1px solid transparent;
}

.btn-left {
  border-radius: 8px 0 0 8px;
}

.btn-right {
  border-radius: 0 8px 8px 0;
}

.input-box {
  text-align: center;
  background: linear-gradient(#520418, #520418) padding-box,
  transparent border-box;
  border: 1px solid transparent;
  width: 80%;
  color: #dabb7f;
  font-size: 0.9rem;
}

.error {
  color: #e8d4a8;
  @apply text-lg;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
