<div class="flex flex-col w-full items-center mt-20 mb-14" id="mariage-part">
  <app-title-wedding>Hébergement</app-title-wedding>

  <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-6">
    <img class="mb-6 mt-6" ngSrc="assets/icons/lit-double.png" height="120" width="120" alt="Icon hébergement"/>
    <p class="text-sm text-center font-montserrat leading-relaxed mb-4">
      Des hébergements sont disponibles directement sur le domaine, avec différentes capacités d'accueil (de 2 à 12 personnes), au tarif de 35 € à 70 € par personne (draps et serviettes inclus).
    </p>

    <p class="text-sm text-center font-montserrat leading-relaxed mb-4">
      Le nombre de logements étant limité, merci de nous contacter directement pour toute demande d'hébergement.
    </p>

    <p class="text-sm text-center font-montserrat leading-relaxed mb-4">
      Les réservations sont gérées exclusivement par les mariés.
    </p>

    <p class="text-sm text-center font-montserrat leading-relaxed">
      <a class="underline-gold text-gold-light" href="mailto:mariage.ehv@gmail.com">mariage.ehv&#64;gmail.com</a>
    </p>
  </div>
</div>