<div class="flex flex-col w-full items-center mt-16 mb-40">
  <app-title-wedding>Les mariés</app-title-wedding>
  <div class="pl-10 pr-10 lg:p-0">
    <img ngSrc="assets/pictures/demande_mariage.jpg" height="800" width="600" alt="Photo demande en mariage"
         priority
         class="demande"/>
  </div>
  <p class="text-2xl text-center w-4/5 lg:w-2/5 mt-5 lg:mt-10">
    La demande en mariage a eu lieu le 1 août 2023, jour de l'anniversaire de Astrid, après un saut en parachute.
  </p>
  <app-title-wedding class="mt-20">Nos familles</app-title-wedding>
  <div class="flex-row flex justify-evenly w-full flex-wrap">
    <div class="flex flex-col items-center">
      <div class="pl-10 pr-10 lg:p-0">
        <img ngSrc="assets/pictures/famille_florian.jpg" height="520" width="618" alt="Famille de Florian" priority class="demande">
      </div>
      <p class="text-2xl text-center lg:w-2/5 lg:mt-10">
        Famille du marié
      </p>
    </div>
    <div class="flex flex-col items-center lg:mt-auto mb-auto mt-10">
      <div class="pl-10 pr-10 lg:p-0">
        <img ngSrc="assets/pictures/famille_astrid.jpg" height="756" width="808"  priority alt="Famille de Astrid" class="demande">
      </div>
      <p class="text-2xl text-center lg:w-2/5 lg:mt-10">
        Famille de la mariée
      </p>
    </div>
  </div>
</div>

