@if(displayExplanations) {
  <app-explanation-profil-modal></app-explanation-profil-modal>
}

<div class="flex flex-col w-full items-center relative">
  <div class="w-3/4 lg:w-1/4 px-6 pt-2 pb-0 z-50 relative">
    <div class="powder-snow" aria-hidden="true"></div>
    <img
      src="assets/pictures/edwige_henri.jpg"
      alt="Photo d'Edwige et Henri"
      class="w-full object-cover rounded-lg shadow-lg max-h-[calc(100vh-30rem)] lg:max-h-[calc(100vh-22rem)] relative z-10" />
  </div>
  @if(screenService.isSmallScreen$ | async) {
    <img
      alt="image de fleurs gold"
      class="mr-auto ml-auto rotate-180 -mt-10"
      height="80" ngSrc="assets/layout/gold_flowers_straight.webp" priority width="280">
  }
  @else {
    <img
      priority
      ngSrc="assets/layout/gold_flowers.webp"
      class="ml-auto w-1/2 rotate-180 absolute -bottom-28 right-0 mt-6"
      alt="decoration doré"
      width="1024"
      height="469">
  }
</div>

