<div class="flex flex-col w-full items-center mt-20" id="mariage-part">
  <app-title-wedding>Les photographes</app-title-wedding>
  <div class="flex flex-row items-center lg:mt-4 justify-evenly mb-6 flex-wrap">
    <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-12 lg:mt-4">
      <img class="mb-6 mt-6" ngSrc="assets/icons/appareil-photo-reflex-numerique.png" height="120" width="120" alt="Icon appareil photo"/>
      <p class="text-base text-center font-medium font-montserrat">Volupté</p>
      <p class="text-sm text-center mt-2 font-montserrat leading-relaxed">
        Deux photographes nous accompagneront tout au long de la journée pour saisir les moments marquants de cette journée.
      </p>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-12 lg:mt-4">
      <img class="mb-6 mt-6" ngSrc="assets/icons/appareil-photo.png" height="120" width="120" alt="Icon d'appareil photo"/>
      <p class="text-sm text-center font-montserrat leading-relaxed">
        Vous retrouverez ci-dessous les photos de cette journée après le mariage.
      </p>
    </div>
  </div>
  <div class="mt-14 mb-14 flex flex-col items-center w-full">
    <app-title-wedding>Vos photos</app-title-wedding>
    <img class="mb-6 lg:mt-6" ngSrc="assets/icons/appareil-photo.png" height="120" width="120" alt="Icon d'appareil photo"/>
    <p class="text-sm text-center w-4/5 lg:w-2/5 lg:mt-0 font-montserrat leading-relaxed">
      Il vous sera possible tout au long de la journée de prendre des photos et de les partager avec nous.
      Pour cela, il vous suffit de vous rendre sur l'onglet photo et de les ajouter.
    </p>
  </div>
</div>

