<div class="flex flex-column">
  <h3 class="font-montserrat text-xl mb-6 w-fit tracking-wider">{{title}}</h3>
  @if(category != CategoryEnum.HoneyMoon) {
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
      @for (product of products | giftCategory:category; track product) {
        <app-product [product]="product"></app-product>
      }
    </div>
  } @else if (products.length > 0) {
    <div class="w-100 mb-10">
      @for (product of products | giftCategory:category; track product) {
        <app-product [product]="product"></app-product>
      }
    </div>
  }
</div>
