<div class="snowfall">
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div><div class="snowflake"></div><div class="snowflake"></div>
  <div class="snowflake"></div>
</div>

<ng-container class="flex flex-col">
  @if (!isLoginPage) {
    <app-navigation></app-navigation>
  }
  <router-outlet></router-outlet>
  @if (!isLoginPage) {
    <app-footer></app-footer>
  }
</ng-container>
