<div class="flex flex-col w-screen items-center mt-32 mb-20" id="mariage-part">
  <app-title-wedding>Le cocktail</app-title-wedding>
  <div class="flex flex-row items-center lg:mt-8 justify-evenly flex-wrap">
    <div class="flex flex-col items-center lg:mt-8">
      <a
        class="mt-10"
        href="https://www.google.fr/maps/search/Quartier+Sarson,+26230+Grignan"
        target="_blank">
        <p class="text-2xl text-center font-bold">Domaine de Sarson</p>
        <p class="text-2xl text-center">Quartier Sarson</p>
        <p class="text-2xl text-center">26230 Grignan</p>
      </a>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-20 lg:mt-0">
      <img class="mb-10 mt-10" ngSrc="assets/icons/champagne.png" height="200" width="200" alt="Icon champagne"/>
      <p class="text-2xl text-center">
        À l'issue de la messe, nous vous accueillerons au Domaine de Sarson pour un cocktail.
      </p>
      <p class="text-2xl text-center mt-3">
        (Pour les invités au cocktail uniquement)
      </p>
    </div>
  </div>
</div>
