<div class="flex flex-col w-screen items-center mt-32 mb-20" id="mariage-part">
  <app-title-wedding>Le vin d 'honneur</app-title-wedding>
  <div class="flex flex-row items-center lg:mt-8 justify-evenly flex-wrap">
    <div class="flex flex-col items-center lg:mt-8">
      <img class="maison" ngSrc="assets/pictures/maison_papy_astrid.png" priority height="280" width="373" alt="Photo de la maison du grand-père de Astrid"/>
      <a
        class="mt-10"
        href="https://www.google.fr/maps/place/1+Chem.+de+la+Chapelle,+42530+Roche-la-Moli%C3%A8re/@45.4410828,4.333142,17z/data=!3m1!4b1!4m6!3m5!1s0x47f5ae75b133287b:0x1f8cf2e622305658!8m2!3d45.4410828!4d4.3357223!16s%2Fg%2F11c1_7mqbp?entry=ttu"
        target="_blank">
        <p class="text-2xl text-center">« Clos Saint-Joseph »</p>
        <p class="text-2xl text-center">1 chemin de la chapelle  </p>
        <p class="text-2xl text-center">42230 Roche-la-Molière</p>
      </a>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-20 lg:mt-0">
      <img class="mb-10 mt-10" ngSrc="assets/icons/calendrier.png" height="200" width="200" alt="Icon de calendrier"/>
      <p class="text-2xl text-center">A l’issue de la cérémonie, vous serez conviés au vin d’honneur </p>
      <p class="text-2xl text-center">qui se déroulera au Clos Saint-Joseph chez Monsieur Jean-Luc PERCHOT.</p>
    </div>
  </div>
</div>
