<div class="flex flex-col w-screen items-center mt-20 mb-14" id="mariage-part">
  <app-title-wedding>Le cocktail</app-title-wedding>
  <div class="flex flex-row items-center lg:mt-4 justify-evenly flex-wrap">
    <div class="flex flex-col items-center lg:mt-4">
      <a
        class="mt-6"
        href="https://www.google.fr/maps/search/Quartier+Sarson,+26230+Grignan"
        target="_blank">
        <p class="text-base text-center font-medium font-montserrat">Domaine de Sarson</p>
        <p class="text-sm text-center font-montserrat opacity-90">Quartier Sarson</p>
        <p class="text-sm text-center font-montserrat opacity-90">26230 Grignan</p>
      </a>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-2/5 mt-12 lg:mt-0">
      <img class="mb-6 mt-6" ngSrc="assets/icons/champagne.png" height="120" width="120" alt="Icon champagne"/>
      <p class="text-sm text-center font-montserrat leading-relaxed">
        À l'issue de la messe, nous vous accueillerons au Domaine de Sarson pour un cocktail.
      </p>
      <p class="text-sm text-center mt-2 font-montserrat opacity-80">
        (Pour les invités au cocktail uniquement)
      </p>
    </div>
  </div>
</div>
