.main-line {
  background-image: linear-gradient(to bottom, #dabb7f 0%, #b8954f 63%, #dabb7f 100%);
  width: 3px;
  border-radius: 15px;
}

.horizontal-line {
  height: 3px;
  background-image: linear-gradient(to bottom, #dabb7f 0%, #b8954f 63%, #dabb7f 100%);
  width: 40px;
}

.horizontal-line-right {
  @extend .horizontal-line;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.horizontal-line-left {
  @extend .horizontal-line;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

img:hover {
  transform: scale(1.08);
  transition: 0.2s ease;
}
