<div class="w-full flex flex-row justify-center items-center mt-12">
  <div class="flex w-full max-w-[28rem] justify-center">
    <div class="flex h-[34rem] flex-col justify-between">
      <div class="flex h-16 flex-row items-center w-fit ml-auto">
        <a
          (click)="getClicked()"
          [routerLink]="['ceremonie-religieuse']" class="mr-3">
          <img ngSrc="assets/icons/eglise.png" height="64" width="64" alt="Icon église"/>
        </a>
        <div class="horizontal-line-left"></div>
      </div>
      <div class="h-16"></div>
      <div class="flex h-16 flex-row items-center w-fit ml-auto">
        <a
          (click)="getClicked()"
          [routerLink]="['vin-honneur']" class="mr-3">
          <img ngSrc="assets/icons/champagne.png" height="64" width="64" alt="Icon champagne"/>
        </a>
        <div class="horizontal-line-left"></div>
      </div>
      <div class="h-16"></div>
      <div class="flex h-16 flex-row items-center w-fit ml-auto">
        <a
          (click)="getClicked()"
          [routerLink]="['hebergement']" class="mr-3">
          <img ngSrc="assets/icons/lit-double.png" height="64" width="64" alt="Icon hébergement"/>
        </a>
        <div class="horizontal-line-left"></div>
      </div>
    </div>

    <div class="main-line h-[34rem]"></div>

    <div class="flex h-[34rem] flex-col justify-between">
      <div class="h-16"></div>
      <div class="flex h-16 flex-row items-center w-fit mr-auto">
        <div class="horizontal-line-right"></div>
        <a
          (click)="getClicked()"
          [routerLink]="['photos']" class="ml-3">
          <img ngSrc="assets/icons/appareil-photo-reflex-numerique.png" height="64" width="64" alt="Icon appareil photo"/>
        </a>
      </div>
      <div class="h-16"></div>
      <div class="flex h-16 flex-row items-center w-fit mr-auto">
        <div class="horizontal-line-right"></div>
        <a
          (click)="getClicked()"
          [routerLink]="['reception']" class="ml-3">
          <img ngSrc="assets/icons/repas.png" height="64" width="64" alt="Icon repas"/>
        </a>
      </div>
      <div class="h-16"></div>
    </div>
  </div>
</div>
