<div class="flex flex-col w-screen items-center mt-32 mb-32 lg:mb-40" id="mariage-part">
  <app-title-wedding>La cérémonie religieuse</app-title-wedding>
  <div class="flex flex-row items-center lg:mt-8 justify-evenly flex-wrap">
    <div class="flex flex-col items-center lg:mt-8">
      <img class="eglise"
           priority
           ngSrc="assets/pictures/eglise-saint-louis.jpg" height="512" width="288" alt="Photo de l'église Saint-Louis"/>
      <a
        class="mt-10"
        href="https://www.google.fr/maps/place/%C3%89glise+St+Louis+de+Saint-%C3%89tienne/@45.4345949,4.3861766,17z/data=!3m1!4b1!4m6!3m5!1s0x47f5aeac270ab5eb:0xd49eeee6d3420b5!8m2!3d45.4345949!4d4.3887569!16s%2Fg%2F1thxkd_5?entry=ttu"
        target="_blank">
        <p class="text-2xl text-center">L'église Saint-Louis</p>
        <p class="text-2xl text-center">4 rue Léon Nautin </p>
        <p class="text-2xl text-center">42000 Saint-Etienne</p>
      </a>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-1/5 mt-20 lg:mt-0">
      <img class="mb-10 mt-10" ngSrc="assets/icons/calendrier.png" height="200" width="200" alt="Icon de calendrier"/>
      <p class="text-2xl text-center">La cérémonie religieuse aura lieu le 7 septembre 2024 à 14h30 en l’église Saint-Louis.</p>
      <p class="text-2xl text-center mt-3">Le consentement des époux sera reçu par le père Rémi-Gabriel PERCHOT.</p>
    </div>
    <div class="flex flex-col items-center w-4/5 lg:w-1/5 mt-20 lg:mt-0">
      <img class="mb-10 mt-10" ngSrc="assets/icons/noeud-papillon.png" height="200" width="200" alt="Icon de noeud papillon"/>
      <p class="text-2xl text-center">Nous vous informons que les couleurs de la journée seront bleu, pêche et doré.</p>
      <p class="text-2xl text-center">À la discrétion de chacun de les respecter.</p>
    </div>
  </div>
</div>
<div class="flex flex-col w-screen items-center mt-10 lg:mt-24 mb-20">
  <app-title-wedding>Facilités d ’accès</app-title-wedding>
  <div class="flex flex-row items-center justify-evenly w-full flex-wrap">
    <img ngSrc="assets/pictures/facilite_acces.jpg" priority height="530" width="429" alt="Plan des parkings au tour de l'église" class="plan"/>
    <div class="mt-10 lg:mt-0">
      <a
        target="_blank"
        href="https://www.google.fr/maps/place/Parking+Indigo+Saint-Etienne+Les+Ursules/@45.4344039,4.3869141,18.46z/data=!4m6!3m5!1s0x47f5aeae5f0292ff:0xa490d3de87c22485!8m2!3d45.4343704!4d4.3875876!16s%2Fg%2F11bt_jpz3l?entry=ttu">
        <p class="text-2xl text-center w-fit ml-auto mr-auto mb-3">Le parking des Ursules (couvert)</p>
      </a>
      <p class="text-2xl text-center mb-3">ou</p>
      <a
        target="_blank"
        href="https://www.google.fr/maps/place/Pl.+Albert+Thomas,+42000+Saint-%C3%89tienne/@45.4323496,4.3852769,17z/data=!3m1!4b1!4m6!3m5!1s0x47f5aeae08b1bbb5:0x5c91432beaf5d68d!8m2!3d45.4323496!4d4.3878572!16s%2Fg%2F1thd60fx?entry=ttu">
        <p class="text-2xl text-center w-fit ml-auto mr-auto">La place Albert Thomas</p>
        <p class="text-2xl text-center">(parc de stationnement extérieur)</p>
      </a>
    </div>
  </div>
</div>


