@if(showModal) {
  <div class="modal-explanation">
    <div class="modal-content">
      <span class="close ml-auto" (click)="closeModal()">&times;</span>
      <app-title-wedding>Pour vous aider !</app-title-wedding>
      <p class="text-xl lg:text-2xl text-center lg:w-4/5 ">
        Pour découvrir le déroulement de la journée, cliquez sur les icones qui feront apparaître
        des explications sur les différentes étapes de la journée.
      </p>
      <p class="text-xl lg:text-2xl text-center lg:w-4/5 mt-10 lg:mt-20 lg:mb-20">
        De plus, vous pouvez cliquer sur tous les textes soulignés. Ils permettent de vous diriger soit sur
        google map pour les adresses ou sur les sites de réservation pour les hotels.
      </p>
    </div>
  </div>
}





