<div class="flex flex-col w-full items-center mt-20 lg:mb-0">
  <app-title-wedding>Les photos</app-title-wedding>
  @if ((AuthService.isAuthenticated$ | async))
  {
    @if(daysLeft <= 0 || (AuthService.isAdmin$ | async)|| (AuthService.isModerator$ | async)) {
      <app-button style="margin-bottom: 30px" (click)="fileInput.click()">Ajouter une photo</app-button>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        <ul class="flex flex-row justify-around space-x-10 ">
          <li>
            <button class="font-librebaskerville d-flex flex-column align-middle items-center" [ngClass]="{'active-link': selectedFilter === 'photograph'}" (click)="onFilterChange(PictureFilterEnum.PHOTOGRAPH)">
              <img ngSrc="assets/icons/photos-instantanees.png" height="40" width="40" alt="Icon Photograph"/>
              <p class="mt-2">Photographe</p>
            </button>
          </li>
          <li>
            <button class="font-librebaskerville d-flex flex-column align-middle items-center" [ngClass]="{'active-link': selectedFilter === 'all'}" (click)="onFilterChange(PictureFilterEnum.ALL)">
              <img ngSrc="assets/icons/monde.png" height="40" width="40" alt="Icon Monde"/>
              Prise par<br>tout le monde
            </button>
          </li>
          <li>
            <button class="font-librebaskerville d-flex flex-column align-middle items-center" [ngClass]="{'active-link': selectedFilter === 'own'}" (click)="onFilterChange(PictureFilterEnum.OWN)">
              <img ngSrc="assets/icons/photo-de-famille.png" height="40" width="40" alt="Icon Monde"/>
              <p class="mt-2">PhotoBooth</p>
            </button>
          </li>
        </ul>
        <app-photo-list></app-photo-list>
    }
    @else {
      <img class="mb-10 mt-10" ngSrc="assets/icons/appareil-photo.png" height="200" width="200" alt="Icon d'appareil photo"/>
      <p class="text-2xl text-center mt-10">
        Vous aurez accès à cette fonctionnalité le jour du mariage !
      </p>
      <p class="text-2xl text-center w-4/5 lg:w-2/5">
        Soyez encore un peu patient.
      </p>
    }
  } @else {
    <app-need-to-be-connected></app-need-to-be-connected>
  }
</div>

