// AlexBrush

@font-face {
  font-family: 'Wedding';
  src: url('./../assets/typography/AlexBrush-Regular/AlexBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// LibreBaskerville

@font-face {
  font-family: 'LibreBaskerville';
  src: url('./../assets/typography/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('./../assets/typography/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url('./../assets/typography/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// WindSong

@font-face {
  font-family: 'WindSong';
  src: url('./../assets/typography/WindSong/WindSong-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WindSong-medium';
  src: url('./../assets/typography/WindSong/WindSong-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
