<div class="flex flex-column w-full items-center mb-24 mt-12">
  <app-title-wedding>Nous contacter</app-title-wedding>
  <div class="flex flex-row w-full justify-evenly mt-6 flex-wrap">
    <div class="flex flex-column items-center">
      <img ngSrc="assets/icons/e-mail.png" height="120" width="120" alt="Icon Email">
      <p class="text-base text-center mt-2 lg:mt-4 font-montserrat">Notre Email :</p>
      <p class="text-base text-center font-montserrat"><a href="mailto:afdrevet@outlook.com">afdrevet&#64;outlook.com</a></p>
    </div>
  </div>
</div>
