<div class="flex flex-column w-full items-center mb-40 mt-20">
  <app-title-wedding>Nous contacter</app-title-wedding>
  <div class="flex flex-row w-full justify-evenly mt-10 flex-wrap">
    <div class="flex flex-column">
      <img ngSrc="assets/icons/e-mail.png" height="200" width="200" alt="Icon Email">
      <p class="text-2xl text-center mt-2 lg:mt-5">Notre Email :</p>
      <p class="text-2xl text-center"><a href="mailto:afdrevet@outlook.com">afdrevet&#64;outlook.com</a></p>
    </div>
  </div>
</div>
