.tag {
  width: fit-content;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  justify-content: center;
  font-family: LibreBaskerville, serif;
}

.round {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.refused {
  background-color: #f2d4d4;
  color: #b95858;
}

.refused .round {
  background-color: #b95858;
}

.confirmed {
  background-color: #d4f2dd;
  color: #58b962;
}

.confirmed .round {
  background-color: #58b962;
}

.waiting {
  background-color: #f2ecd4;
  color: #b9a958;
}

.waiting .round {
  background-color: #b9a958;
}
