@if (profils) {
  <div class="flex flex-col items-center relative mt-6">
    <app-title-wedding class="mt-6">Vos informations</app-title-wedding>
    <form [formGroup]="profilForm" class="relative w-4/5 lg:w-2/5 flex flex-column">
      <p class="mb-2 font-montserrat text-sm text-justify leading-relaxed">Entrez votre Email afin de recevoir les dernières
        informations sur notre mariage !</p>
      <div class="flex flex-row items-center flex-wrap mt-6 lg:mt-0">
        <app-input
          class="ml-auto mr-auto lg:mr-0 lg:ml-0"
          [form]="profilForm"
          [icon]="icon.cilEnvelopeClosed"
          [valueInput]="profils.email"
          controlName="email"
          placeholder="Email"
        ></app-input>
        <app-toast-mariage
          class="ml-auto mr-auto lg:mr-0 w-fit mt-2 lg:-mt-6"
          (click)="onUpdateClick()">
          Modifier
        </app-toast-mariage>
      </div>
    </form>

    <app-title-wedding class="mt-14">Les personnes invitées</app-title-wedding>
    <p class="font-montserrat text-sm w-4/5 text-center">Réponses des personnes invitées :</p>
    <div class="flex flex-col w-4/5 lg:w-2/5 mt-6">
      @for(guest of profils.guests; track profils.guests) {
        <div class="flex flex-row justify-between items-center">
          <p class="font-montserrat text-sm text-justify mt-2">{{guest.firstName}} {{guest.lastName}}</p>
          <app-toggle-button [disabled]="false" [guest]="guest"></app-toggle-button>
        </div>
      }
    </div>
    <!--<p class="font-montserrat text-sm w-4/5 text-center mb-24 mt-14">Si une des réponses a changé, envoyer nous un mail à <a href="mailto:afdrevet@outlook.com">afdrevet&#64;outlook.com</a></p>-->
  </div>
}
