p a{
  background-image: linear-gradient(to right, #dabb7f 0%, #b8954f 63%, #dabb7f 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 2px;
  transition: opacity 0.3s ease;
}

p a:hover {
  opacity: 0.8;
}

.accommodation-section {
  background-color: #520418;
  border: 1px solid;
  border-image: linear-gradient(to right, #dabb7f, #1a3c34, #dabb7f) 1;
  padding: 1.5rem;
  margin-top: 1rem;
}

