::ng-deep .bg-warning {
  background-color: #dabb7f !important;
  color: #6f0523 !important;
  border-color: #1a3c34 !important;
}

.gradient-box {
  background: linear-gradient(#520418, #520418) padding-box,
  linear-gradient(to right, #dabb7f 0%, #1a3c34 50%, #dabb7f 100%) border-box;
  transition: all 0.4s ease;
  background-size: 200% auto;
  color: #dabb7f;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  display: block;
  border: 1px solid transparent;
  border-radius: 12px;
}

.gradient-box:hover {
  background-position: right center;
  text-decoration: none;
  box-shadow: 0 6px 24px rgba(0,0,0,0.35);
  transform: translateY(-2px);
}
