<form [formGroup]="loginForm" class="flex flex-row w-full h-screen">
  @if(!(screenService.isSmallScreen$ | async)) {
    <div class="container-2 w-2/3"></div>
  }
  <div class="w-4/5 lg:w-1/3 flex flex-col items-center mt-auto mb-auto ml-auto mr-auto">
    <img alt="Fleurs decoratives"
         priority
         height="200" ngSrc="assets/layout/middle_gold_flower.webp" width="800">

    <h1 class="font-montserrat text-3xl text-gold tracking-wider">Connexion</h1>
    <p class="w-4/5 mt-12 font-montserrat text-justify mb-6 text-gold-light text-sm leading-relaxed">
      En vous connectant, vous pourrez accéder aux informations concernant
      la réception. Vous retrouverez les identifiants dans le faire part,
      sur le carton de la réception.
    </p>

    <app-input
      [icon]="icon.cilGroup"
      [form]="loginForm"
      [required]="true"
      controlName="username"
      class="mt-6"
      placeholder="Identifiant"
    ></app-input>

    <app-input
      [icon]="icon.cilLockLocked"
      [isPassword]="true"
      [form]="loginForm"
      [required]="true"
      controlName="password"
      class="mt-6"
      placeholder="Mot de passe"
    ></app-input>

    @if (error) {
      <p class="text-gold-light font-montserrat text-sm mt-6 w-4/5 text-center">{{error.toString()}}</p>
    }

    @if (isLoading) {
      <app-loader text="Connexion en cours" class="mt-8"></app-loader>
    } @else {
      <app-button (click)="onLoginClick()" class="mt-8">Connexion</app-button>
    }
  </div>
</form>
